*.sublime-*
DownloadLists/*
bin/*
run_*.bat
scripts/*
src/Everything_SDK*
src/Game_Episodic*
src/common
src/devtools
src/dx10sdk
src/dx9sdk
src/game
src/lib
src/linux_sdk
src/materialsystem
src/mathlib
src/properties.vsprops
src/public
src/tier1
src/utils
src/vgui2
src/vmpi